$bgBody : #EFF0F3;
$Primary : #174DBA;
$White : #ffffff;

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
};

body{
    margin: 0;
    background-color: $bgBody;
    .container{
        height: 80vh;
        @include flexCenter();
        .cardBox{
            width: 50vh;
            height: 45vh;
            background-color: $White;
            border-radius: 10px;
            @include flexCenter();

            .elements{
                margin-bottom: 1vh;
                #email{
                    outline: none;
                    margin-top: 0.5vh;
                    width: 29vh;
                    height: 4vh;
                    border-radius: 5px;
                    border: solid 2px $Primary;
                    padding-left: 1vh;
    
                    &:focus{
                        border-radius: 5px;
                    }
                }
                .emailError{
                    border: solid 2px red !important;
                }
                #password{
                    outline: none;
                    margin-top: 0.5vh;
                    width: 29vh;
                    height: 4vh;
                    border-radius: 5px;
                    border: solid 2px $Primary;
                    padding-left: 1vh;
    
                    &:focus{
                        border-radius: 5px;
                    }
                }
                .passwordError{
                    border: solid 2px red !important;
                }
            }
            .btn{
                margin-top: 4.5vh;
                margin-bottom: 4vh;
                button{
                    outline: none;
                    background-color: $Primary;
                    color: $White;
                    width: 30vh;
                    height: 4vh;
                    border-radius: 5px;
                    border: none;
                    font-weight: bold;
                    &:hover{
                        background-color: $White;
                        color: $Primary;
                        cursor: pointer;
                        border: solid 2px $Primary;
                        border-color: $Primary;
                    }
                }
            }
            .titulo{
                display: flex;
                justify-content: center;
                margin-bottom: 4vh; 
                h1{
                    font-family:Helvetica, sans-serif;
                    font-weight: bold;
                    font-size: 32px;
                    color: $Primary;
                }
            }
            .labels{
                font-family:Helvetica, sans-serif;
                font-weight: medium;
                font-size: 16px;
                color:$Primary;
            }
            
            
            
        }
    }
}
header{
    @include flexCenter();
    background-color: $Primary;
    img{
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 25vh;
    }
    
}
